<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Frank Sinatra - Don't need presentation</title>
  <link rel="stylesheet" href="./../public/style.css">
  </head>
  <body>
    
  <!--Navigation Bar-->
  
  <header>
    
      <nav>
      
      <img src="./../public/logo.png" alt="Frank Sinatra ">
    
    
      <ul>
      
         <li><a href"#">About</a></li> 
         <li><a href"#">Works</a></li>
         <li><a href"#">Gallery</a></li>
      
        </ul> 
      
      </nav>
      
      
      

        
   </header>
    