* {
  box-sizing: border-box;
  margin: 0 auto
}

body {
  font-family: 'Cuprum', sans-serif;
}

/* Nav Bar */

nav {
  position: relative;
  display: flex;	
	justify-content: space-between;
  align-items: center;
  background-color: #e5e5e5;
}

nav img {
  height: 85%;
  width: 20%;
  margin-left: 70px
}

nav ul {
  display: flex;
  margin-right: 70px
}

nav ul li {
  margin-right: 40px;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  color: gray;
}


/* Header Image */

.home {
  background-image: url("/background.jpg");
  background-repeat: no-repeat;
  background-position: 100% 80%;
  background-size: cover;
  height: 697px;
  width: 100%;
}

.home h1 {
  color: white;
  text-align: center;
  font-size: 5em;
  font-weight: bolder;
  padding-top: 25px
}

.home h3 {
  color: white;
  text-align: center;
  font-weight: lighter;
  margin-top: 30px
}

/* About Page */

.about {
  background-image: url("/background-about.jpg");
  background-repeat: no-repeat;
  background-position: 100% 80%;
  background-size: cover;
  height: 697px;
  width: 100%;
}

/* works Page */

.works {
  background-image: url("/background-works.jpg");
  background-repeat: no-repeat;
  background-position: 100% 80%;
  background-size: cover;
  height: 697px;
  width: 100%;
}